/* Menu Styles */
.inactive {
  @apply hidden;
}

.sticky-top {
  @apply sticky top-0 z-20;
}

/* Scroll Reveal Classes */
.scroll-down header {
  @apply !-translate-y-full;
}

.scroll-up header {
  @apply transform-none;
}

#menu-header-menu {
  @apply mt-10 lg:mt-0 lg:inline-flex;

  .menu-item {
    @apply text-center lg:mr-4 lg:text-left;
  }
}
