html {
  @apply h-full;
}

main {
  @apply flex-auto;
}

body {
  @apply flex min-h-full flex-col antialiased;

  &.no-fout {
    @apply invisible;

    .wf-inactive &,
    .wf-active & {
      @apply visible;
    }
  }
}

.highlight-violation {
  @apply outline-1 outline-red-500;
}

svg:has(symbol) {
  @apply absolute h-0 w-0;
}

/* ADA testing */
.ada-violation {
  @apply outline-3 outline-dashed outline-red-500;
}
