VITE_ASSET_URL=http://tofino.test
VITE_THEME_PATH=/wp-content/themes/tofino
VITE_DEV_PROFILE=local
VITE_TUNNEL_HOSTNAME=
VITE_TUNNEL_NAME=
VITE_TUNNEL_ID=
VITE_TUNNEL_PORT=5173
DEPLOYMENT_PATH=
SSH_LOGIN=
DEPLOY=FALSE