# ignore all files starting with .
.*

# track this file .gitignore (i.e. do NOT ignore it)
!.gitignore
!.gitkeep
!.travis.yml
!.gitattributes

# ignore node/grunt dependency directories
node_modules/

# ignore bower dependency directories
bower_components/

# ignore composer dependency directories
vendor/

# ignore dist directories
dist/

# ignore composer.lock
composer.lock
