.notification-use-js {
  #tofino-notification {
    display: none;
  }
}

.alert {
  border-radius: 0;
  border: 0;
  border-left: 0;
  border-right: 0;
  border-bottom: 0;
  margin-bottom: 0;
  padding: 5px;

  p {
    margin: auto;
  }

  &.notification {
    &.bottom {
      position: fixed;
      bottom: 0;
      left: 0;
      right: 0;
    }

    &.top {
      position: relative;
    }

    .close {
      position: absolute;
      top: calc(50% - 10px);
      right: 1rem;

      svg {
        height: 20px;
        width: 20px;
      }
    }
  }

  &.browser-warning {
    text-align: center;
    width: 100%;
  }
}
