// It's probably best to leave this section alone and add your own overrides afterwards.

// Override classes for responsive menu
.navbar-wrapper {
  @include media-breakpoint-up(sm) {
    .menu-center & { // Flexbox based centered menu.
      display: flex !important;
      justify-content: center;

      .nav {
        &.navbar-nav {
          display: flex;
        }
      }
    }
  }

  @include media-breakpoint-down(xs) {
    clear: both;

    .navbar-nav {
      width: 100%;

      .nav-item {
        float: none;

        & + .nav-item {
          margin-left: 0;
        }
      }

      .nav-link {
        text-align: center;
      }
    }
  }

  .dropdown-menu {
    @include media-breakpoint-down(xs) {
      float: none;
      position: relative;
    }

    padding: 0;
  }
}

.navbar {
  background-color: $gray-lightest;
  padding: 0;

  .navbar-nav {
    display: inline-block;
  }
}

.navbar-toggler {
  float: right;

  &:focus {
    outline: 0;
  }
}

.dropdown-header {
  h6 {
    padding-top:    .425rem;
    padding-bottom: .425rem;
    margin-bottom: 0;
  }
}

// Helper class to center unknown width ul nav bar
.menu-center {
  .navbar-brand {
    position: absolute;
  }
}

@include media-breakpoint-up(sm) {
  .menu-right {
    .navbar-nav {
      float: right;
      padding-right: 5px;
    }

    .dropdown-menu {
      @extend .dropdown-menu-right;
    }
  }
}
