// Override classes for responsive menu
.navbar-toggleable {
  &-xs {
    .menu-center & { // Flexbox based centered menu. Wrapped in toggleable coz BS4 ways.
      @include media-breakpoint-up(sm) {
        display: flex !important;
        justify-content: center;

        .nav {
          &.navbar-nav {
            display: flex;
          }
        }
      }
    }

    @include media-breakpoint-down(xs) {
      clear: both;

      .navbar-nav {
        .menu-item {
          float: none;
        }
      }

      .dropdown-menu {
        float: none;
        position: relative;
      }
    }
  }
}

// Helper class to center unknown width ul nav bar
.menu-center {
  .navbar-brand {
    position: absolute;
  }
}

.menu-right {
  .navbar-nav {
    @extend .pull-right;
  }
}

.navbar-toggler {
  float: right;
}
