html { height: 100%; }

body { // Flexbox supported browsers only.
  &.footer-sticky {
    display: flex;
    min-height: 100vh;
    flex-direction: column;

    .wrapper {
      flex: 1 0 auto;
      width: 100%;
    }
  }

  &.no-fout {
    visibility: hidden;

    .wf-inactive &,
    .wf-active & {
      visibility: visible;
    }
  }
}

footer {
  background-color: $gray-100;
}

.form-group.required,
.checkbox.required {
  .form-control-label {
    &::after {
      content: "*";
      padding-left: 2px;
      color: $form-feedback-invalid-color;
    }
  }

  &.has-success {
    .form-control-label {
      &::after {
        color: $form-feedback-valid-color;
      }
    }
  }
}
