html { height: 100%; }

body {
  &.footer-sticky { // Flexbox supported browsers only.
    display: flex;
    min-height: 100vh;
    flex-direction: column;

    .wrapper {
      flex: 1 0 auto;
      width: 100%;
    }
  }

  &.no-fout {
    visibility: hidden;

    .wf-inactive &,
    .wf-active & {
      visibility: visible;
    }
  }
}

header {
  flex: none;
}

nav {
  flex: none;
}

footer {
  flex: none;
  background-color: $gray-lightest;
}

.form-group.required {
  .form-control-label::after {
    content: "*";
    padding-left: 2px;
    color: $brand-danger;
  }
}

// IE 11 flexbox fix.
// TODO: Remove when fixed in bootstrap.
// https://github.com/twbs/bootstrap/issues/17310
.col-xs-1 {
  max-width: 8.33333%;
}

.col-xs-2 {
  max-width: 16.66667%;
}

.col-xs-3 {
  max-width: 25%;
}

.col-xs-4 {
  max-width: 33.33333%;
}

.col-xs-5 {
  max-width: 41.66667%;
}

.col-xs-6 {
  max-width: 50%;
}

.col-xs-7 {
  max-width: 58.33333%;
}

.col-xs-8 {
  max-width: 66.66667%;
}

.col-xs-9 {
  max-width: 75%;
}

.col-xs-10 {
  max-width: 83.33333%;
}

.col-xs-11 {
  max-width: 91.66667%;
}

.col-xs-12 {
  max-width: 100%;
}

@media (min-width: 544px) {
  .col-sm-1 {
    max-width: 8.33333%;
  }

  .col-sm-2 {
    max-width: 16.66667%;
  }

  .col-sm-3 {
    max-width: 25%;
  }

  .col-sm-4 {
    max-width: 33.33333%;
  }

  .col-sm-5 {
    max-width: 41.66667%;
  }

  .col-sm-6 {
    max-width: 50%;
  }

  .col-sm-7 {
    max-width: 58.33333%;
  }

  .col-sm-8 {
    max-width: 66.66667%;
  }

  .col-sm-9 {
    max-width: 75%;
  }

  .col-sm-10 {
    max-width: 83.33333%;
  }

  .col-sm-11 {
    max-width: 91.66667%;
  }

  .col-sm-12 {
    max-width: 100%;
  }

}

@media (min-width: 768px) {
  .col-md-1 {
    max-width: 8.33333%;
  }

  .col-md-2 {
    max-width: 16.66667%;
  }

  .col-md-3 {
    max-width: 25%;
  }

  .col-md-4 {
    max-width: 33.33333%;
  }

  .col-md-5 {
    max-width: 41.66667%;
  }

  .col-md-6 {
    max-width: 50%;
  }

  .col-md-7 {
    max-width: 58.33333%;
  }

  .col-md-8 {
    max-width: 66.66667%;
  }

  .col-md-9 {
    max-width: 75%;
  }

  .col-md-10 {
    max-width: 83.33333%;
  }

  .col-md-11 {
    max-width: 91.66667%;
  }

  .col-md-12 {
    max-width: 100%;
  }
}

@media (min-width: 992px) {
  .col-lg-1 {
    max-width: 8.33333%;
  }

  .col-lg-2 {
    max-width: 16.66667%;
  }

  .col-lg-3 {
    max-width: 25%;
  }

  .col-lg-4 {
    max-width: 33.33333%;
  }

  .col-lg-5 {
    max-width: 41.66667%;
  }

  .col-lg-6 {
    max-width: 50%;
  }

  .col-lg-7 {
    max-width: 58.33333%;
  }

  .col-lg-8 {
    max-width: 66.66667%;
  }

  .col-lg-9 {
    max-width: 75%;
  }

  .col-lg-10 {
    max-width: 83.33333%;
  }

  .col-lg-11 {
    max-width: 91.66667%;
  }

  .col-lg-12 {
    max-width: 100%;
  }
}

@media (min-width: 1200px) {
  .col-xl-1 {
    max-width: 8.33333%;
  }

  .col-xl-2 {
    max-width: 16.66667%;
  }

  .col-xl-3 {
    max-width: 25%;
  }

  .col-xl-4 {
    max-width: 33.33333%;
  }

  .col-xl-5 {
    max-width: 41.66667%;
  }

  .col-xl-6 {
    max-width: 50%;
  }

  .col-xl-7 {
    max-width: 58.33333%;
  }

  .col-xl-8 {
    max-width: 66.66667%;
  }

  .col-xl-9 {
    max-width: 75%;
  }

  .col-xl-10 {
    max-width: 83.33333%;
  }

  .col-xl-11 {
    max-width: 91.66667%;
  }

  .col-xl-12 {
    max-width: 100%;
  }
}
