$red: #a00;
$white: #fff;

.maintenance-mode-alert {
  background-color: $red;
  color: $white;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 999999;
  padding: 20px;
  text-align: center;

  p {
    font-size: 18px;
  }
}

.wp-list-table.contactforms {
  .column-id {
    width: 5%;
  }

  .column-date_time {
    width: 10%;
  }

  .column-name {
    width: 15%;
  }

  .column-email {
    width: 25%;
  }

  .column-message {
    width: 45%;
  }
}
