$border-radius: 0;

// Hamburger Icon
$bar-width: 1.2rem;
$bar-height: 3px;
$bar-spacing: 3px;
$hamburger-bar-color: #373a3c;

// Social colors
$socialColours:
  (
    facebook: #3b5998,
    twitter: #00aced,
    google: #dd4b39,
    linkedin: #007bb6,
    youtube: #b00,
    instagram: #517fa4,
    pinterest: #cb2027,
    flickr: #ff0084,
    tumblr: #32506d,
    forusquare: #0072b1,
    dribbble: #ea4c89,
    vine: #00bf8f
  );
