/**
 * Extend the wordpress menu classes to use Boostrap styles
 * It's probably best to leave this section alone and add your own overrides afterwards.
 */
.nav.navbar-nav {
  & > .menu-item {
    @extend .nav-item;

    & > a {
      @extend .nav-link;
    }

    &.menu-item-has-children {
      @extend .dropdown;

      & > a {
        @extend .dropdown-toggle;
      }
    }
  }
}

.dropdown-menu {
  .menu-item {
    @extend .dropdown-item;

    &.active {
      a {
        color: $dropdown-link-active-color;
      }
    }

    & > a {
      @extend .dropdown-item;

      padding: 0;

      &:hover {
        background: transparent;
      }
    }
  }
}
/**
 * End bootstrap extensions
 */
