html { height: 100%; }

body {
  &.menu-fixed {
    padding-top: $navbar-height;
  }

  &.footer-sticky { //Flexbox supported browsers only.
    padding-top: $navbar-height;
    display: flex;
    flex-direction: column;
    height: 100%;

    .wrapper {
      flex: 1 0 auto;
    }
  }
}

footer {
  background-color: #f5f5f5;
  padding: .5rem;
}
