@import 'tailwindcss';

@import './core/menu.css' layer(components);
@import './core/structure.css';
@import './core/wordpress.css';

@source '../../**/*.php';

@theme {
  --breakpoint-sm: 640px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 1024px;
  --breakpoint-xl: 1366px;
}
